# Ignore Python bytecode files
**/__pycache__/

# Ignore environment directories
.venv/
.conda_env/

# Ignore editor configurations
pyrightconfig.json

# Ignore locally stored data
downloads/
extractedData/
preprocessedData/
notebooks/
