# Ignore cache directories
**/*cache*/

# Ignore install artifacts
**/*.egg-info/

# Ignore virtual environment directories
.*env/

# Ignore program output log
log

# Ignore locally stored data
downloads/
